@import "./rose-pine.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#waybar {
    background: @base;
    margin: 0px;
    padding: 0px;
}

#window {
    color: @rose;
    margin-left: 10px;
    padding: 0px;
}

#workspaces {
    border-radius: 0px;
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#workspaces button {
    color: @muted;
    margin: 0px 0px;
    border-radius: 0px;
}

#workspaces button.active {
    background: @overlay;
    color: @iris;

}

#workspaces button:hover {
    color: @rose;
    background: @surface;

}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
    background: @base;
    color: @text;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#network.disconnected {
    color: crimson;
}

#clock {
    color: @text;
    border-radius: 0px;
}

#memory {
    color: @foam;
}

#battery {
    color: #a6d189;
    border-radius: 0px 0px 0px 0px;
}

#battery.charging {
    color: #a6d189;
}

#battery.warning:not(.charging) {
    color: #f0c140;
}

#battery.critical:not(.charging) {
    color: #e78284;
}

#backlight {
    color: #e5c890;
    border-radius: 0px;
}

#pulseaudio {
    color: #ea999c;
    border-radius: 0px 0px 0px 0px;
}

#custom-music {
    color: #ca9ee6;
}

#custom-lock {
    color: #babbf1;
    border-radius: 0px;
}

#custom-power {
    color: #e78284;
    border-radius: 0px;
    margin-right: 1rem;
}