@import "./rose-pine.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0 2px;
    min-height: 0;
}

#waybar {
    background: transparent;
    margin: 0 1px;
}

#window {
    color: @rose;
}

#workspaces {
    background: @base;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#workspaces button {
    color: @muted;
    border-radius: 10px;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @iris;
}

#workspaces button:hover {
    color: @rose;
    background: transparent;
    border: none;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
    background: @base;
    color: @text;
    padding: 0.5rem;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

#cpu,
#network,
#clock {
    color: @text;
}

#memory {
    color: @foam;
    border-radius: 10px; 
}

#battery {
    color: #a6d189;
    border-radius: 10px;
}

#battery.charging {
    color: #a6d189;
}

#battery.warning:not(.charging) {
    color: #f0c140;
}

#battery.critical:not(.charging) {
    color: #e78284;
}

#backlight {
    color: #e5c890;
    border-radius: 10px;
}

#pulseaudio {
    color: #ea999c;
    border-radius: 10px;
}

#custom-music {
    color: #ca9ee6;
}

#custom-lock {
    color: #babbf1;
    border-radius: 10px;
}

#custom-power {
    color: #e78284;
    border-radius: 10px;
    margin-right: 1rem;
}

#tray {
    margin: 0 1rem;
}

